.team {
  width: 1110px;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
  .team_name {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    span {
      margin-right: 20px;
    }
    input {
        font-size: 19px;
      border: none;
      border-bottom: solid 1px rgb(131, 130, 130);
    }
  }
  .employee_li ul {
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(82, 80, 80);
    border-radius: 10px;
    span {
      margin-right: 10px;
    }
  }
  .employee_li li {
    list-style: none;
    margin-bottom: 10px;
  }
  .btn{
    display: flex;
    justify-content: end;
    margin-top: 15px;
  }
  .btn_team {
    margin: 20px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 23px;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
    }

    &:focus {
      box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
    }
  }
}
// font-family: 'Nunito Sans', sans-serif;

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
